.App {
  text-align: center;
  font-family: comic sans MS;
}
header{
  text-align: right;
  margin: 20px;
  margin-right: 6vw;
}
header:hover{
  color: grey;
}

h1{
  font-weight: 550;
  font-size: 3rem;
}
h3{
  color: grey;
}
h5{
  font-size: 120%;
  color: rgb(44, 140, 73);
}
p{
  font-size: 120%;
  color: rgb(84, 83, 83);
}

.planets-div{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.each-planet-div{
  margin: 20px 2rem 6rem 2rem;
}

#destination{
  font-size: 110%;
  font-weight: 550;
  color: rgb(84, 83, 83);
}

#vehicle{
  font-size: 75%;
  font-weight: 550;
  color: rgb(84, 83, 83);
}

button{
  padding: 2px 8px;
  font-family: comic sans MS;
  background-color: white;
  /* box-shadow: 2px 2px 1px 0px; */
}

button:hover{
  background-color: black;
  border: 1px solid white;
  color: white;
}
span{
  font-size: 110%;
  color: black;
  list-style: none;
}
span:hover{
  color: grey;
}